:root {
  /* Cores primárias do logo */
  --color-brand-light-purple: #b19cd9;
  --color-brand-lilac: #c8a2c8;
  --color-brand-pink: #f14fa0;
  --color-brand-cream: #ffe6b0;

  /* Cores funcionais */
  --color-whatsapp-green: #25d366;
  --color-text-dark: #333;
  --color-text-light: #fff;
  --color-background-light: #f7f7f7;
  --color-brown-dark: #5d4037;
  --color-brown-medium: #8b4513;

  /* Cores de destaque*/
  --color-highlight-pink: #ff69b4;
  --color-highlight-gold: #ffd700;

  /* Fontes */
  --font-poppins: "Poppins", sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}

body {
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(135deg, var(--color-brand-light-purple), var(--color-brand-lilac));
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.logo-img {
  display: flex;
  justify-content: center;
}

.logo-img img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin: 0 1rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-brand-pink);
  font-weight: bold;
}

.order-btn {
  display: flex;
  align-items: center;
}

.button-like {
  background-color: var(--color-whatsapp-green);
  padding: .625rem 1rem;
  border: none;
  border-radius: 40px;
  text-decoration: none;
  color: var(--color-background-light);
  font-size: 1rem;
  font-weight: 700;
}

.button-like:hover {
  background-color: var(--color-brown-medium);
  color: var(--color-whatsapp-green);
  transition: .8s;
}

.mobile-menu {
  display: none;
}

.icon-menu {
  display: none;
}

main {
  padding-top: 100px;
}
